* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  padding: 40px 25px 25px 0px;
}

body {
  background-image: url('/Users/sujaysankarapandian/Documents/Itential/ColaCo-Vending-Machine/webapp/public/bg.gif');
  background-size: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.8);
}

h1 {
  text-align: center;
  margin-top: 50px;
  z-index: 1;
}

.vending-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  z-index: 1;
}

/* Soda selection */
.soda-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Soda BG Images */
.soda {
  position: relative;
  width: 240px;
  height: 300px;
  background-color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.Fizz {
  border: 2px solid rgb(70, 70, 70, 0.4);
  background-image: url('/Users/sujaysankarapandian/Documents/Itential/ColaCo-Vending-Machine/webapp/public/fizz.jpeg');
} 

.Pop {
  border: 2px solid rgb(230, 103, 19, 0.4);
  background-image: url('/Users/sujaysankarapandian/Documents/Itential/ColaCo-Vending-Machine/webapp/public/pop.jpeg');
  background-position: -3px !important;
}

.Cola {
  border: 2px solid rgb(0, 170, 37, 0.4);
  background-image: url('/Users/sujaysankarapandian/Documents/Itential/ColaCo-Vending-Machine/webapp/public/cola.jpeg');
  background-size: 92% !important;
} 
.MegaPop {
  border: 2px solid rgb(0, 123, 255, 0.4);
  background-image: url('/Users/sujaysankarapandian/Documents/Itential/ColaCo-Vending-Machine/webapp/public/megapop.jpeg');
  background-size: 106% !important;
  background-position: -5px !important;
}

.soda:hover {
  transform: translateY(-22px);
}

.soda.selected {
  transform: translateY(-22px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Soda Name */
.soda.Fizz h3 {
  position: absolute;
  top: 26px;
  left: 95px;
  margin: 0;
  font-family:monospace;
  font-size: 22px;
  font-weight: 600;
  color: rgb(70, 70, 70);
}

.soda.MegaPop h3 {
  position: absolute;
  top: 26px;
  left: 72px;
  margin: 0;
  font-family: fantasy !important;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 123, 255);
}
.soda.Pop h3 {
  position: absolute;
  top: 26px;
  left: 102px;
  margin: 0;
  font-family: fantasy !important;
  font-size: 22px;
  font-weight: 600;
  color: rgb(230, 103, 19);
}

.soda.Cola h3 {
  position: absolute;
  top: 25px;
  left: 95px;
  margin: 0;
  font-family: cursive;
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 170, 37);
}


/* Soda Price Containers */

.quantity-container {
  float: right;
  position: relative;
  top: 6px;
  right: 6px;
  width:68px;
  height: 28px;
  border-radius: 30px;
}
.quantity-container p {
  margin: 0;
  position: relative;
  top: 7px;
  text-align: center;
  font-family: Haettenschweiler, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.Fizz .quantity-container {
  background-color: rgb(70, 70, 70);
}

.Pop .quantity-container {
  background-color: rgb(230, 103, 19);
}

.Cola .quantity-container {
  background-color: rgb(0, 170, 37);
}

.MegaPop .quantity-container {
  background-color: rgb(0, 123, 255);
}

.price-container {
  position: absolute;
  bottom: 15px;
  left: 90px;
  width:65px;
  height: 32px;
  border-radius: 20px;
}

.price-container p {
  position: relative;
  margin: 0;
  top: 6px;
  text-align: center;
  font-family: Haettenschweiler, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.Fizz .price-container {
  background-color: rgb(70, 70, 70);
}

.Pop .price-container {
  background-color: rgb(230, 103, 19);
}

.Cola .price-container {
  background-color: rgb(0, 170, 37);
}

.MegaPop .price-container {
  background-color: rgb(0, 123, 255);
}


/* Other Soda Classes */
.soda p:last-child {
  margin-bottom: 0;
}


.soda.Pop:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(to bottom, #fde8abab, #f27121a2);
  opacity: 0.25;
  z-index: -1;
}

.soda.Cola:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(to bottom, #cafec697, #a2f221a1);
  opacity: 0.25;
  z-index: -1;
}

.soda.MegaPop:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(to bottom, #a4edffa7, #21cff2b2);
  opacity: 0.25;
  z-index: -1;
}

.soda.Fizz:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(to bottom, #9a9a9aad, #313131b4);
  opacity: 0.5;
  z-index: -1;
}

.soda:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: -1;
}
/* Money insertion */
.money-insertion {
  background-color: #f7f7f7;
  padding: 10px 35px;
  width: 860px;
  margin-top: 15px;
  border-radius: 15px;
  border: solid #7ee696;
  text-align: center;
  z-index: 1;
}

.money-insertion p {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(44, 44, 44);
}

.money-insertion button {
  font-family: Haettenschweiler, sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  margin: 0px 25px;
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 1px;
  color: white;
  cursor: pointer;
  background-color: #85bb65;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.money-insertion button:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.money-insertion button:active {
  transform: scale(0.95);
}


/* Purchase button */
.purchase-button {
  margin-top: 20px;
  z-index: 1;
}

.purchase-btn {
  position: relative;
  border: none;
  margin-right: 10px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.purchase-btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.purchase-btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.purchase-btn-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .purchase-btn-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.purchase-btn:not([disabled]):hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.purchase-btn:not([disabled]):hover .purchase-btn-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.purchase-btn:not([disabled]):active .purchase-btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.purchase-btn:not([disabled]):hover .purchase-btn-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.purchase-btn:not([disabled]):active .purchase-btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.purchase-btn:focus:not(:focus-visible) {
  outline: none;
}

.purchase-btn:disabled {
  opacity: 0.7; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.change-btn {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 10px;
}

.change-btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.change-btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.change-btn-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .change-btn-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.change-btn:not([disabled]):hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.change-btn:not([disabled]):hover .change-btn-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.change-btn:not([disabled]):active .change-btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.change-btn:not([disabled]):hover .change-btn-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.change-btn:not([disabled]):active .change-btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.change-btn:focus:not(:focus-visible) {
  outline: none;
}

.change-btn:disabled {
  opacity: 0.7; 
  cursor: not-allowed; 
  pointer-events: none; 
}