.navbar-style {
    position: fixed;
    top: 0;
    background-color: rgb(17, 17, 17);
    height: 56px;
    z-index: 5050;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 4px -6px #191919;
}

.logo-style {
    position: relative;
    width: 50px;
    height: 50px;
    top: -16px;
    left: -1px;
}

.title {
    position: relative;
    top: 0px;
    padding: 17px;
    margin: auto;
    margin-left: 20px !important;
    font-weight: bold;
    font-family: cursive;
    font-size: 24px;
    line-height: 22px;
    max-width: 1000px;
    margin-right: 0px !important;
}

.app-btn {
    position: relative;
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-family: cursive;
    top: -30px;
}

.restock-btn {
    position: absolute;
    left: 1200px;
    width: 160px;
    top: 10px;
    float: right;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 3px;
    transition: filter 225ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.restock-btn-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.2, .6, .3, 1);
}

.restock-btn-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.restock-btn-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 0.5rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-3px);
    transition:
        transform 500ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .restock-btn-front {
        font-size: 1rem;
        padding: 10px 40px;
    }
}

.restock-btn:not([disabled]):hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.restock-btn:not([disabled]):hover .restock-btn-front {
    transform: translateY(-3px);
    transition:
        transform 220ms cubic-bezier(.3, .7, .4, 1.5);
}

.restock-btn:not([disabled]):active .restock-btn-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.restock-btn:not([disabled]):hover .restock-btn-shadow {
    transform: translateY(2px);
    transition:
        transform 220ms cubic-bezier(.3, .7, .4, 1.5);
}

.restock-btn:not([disabled]):active .restock-btn-shadow {
    transform: translateY(1px);
    transition: transform 30ms;
}

.restock-btn:focus:not(:focus-visible) {
    outline: none;
}