.navbar-style {
    position: fixed;
    top: 0;
    background-color: rgb(17, 17, 17);
    height: 56px;
    z-index: 5050;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 4px -6px #191919;
} 


.title {
    position: relative;
    padding: 17px;
    margin: auto;
    margin-left: 20px !important;
    font-weight: bold;
    font-family: cursive;    
    font-size: 24px;
    line-height: 22px;
    max-width: 1000px;
    margin-right: 0px !important;
}

.app-btn {
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-family: cursive;
}



.restock-btn {
    position: absolute;
    left: 1200px;
    bottom: 8px;
    background-color: #4CAF50;
    width: 150px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right; 

}