.navbar-style {
    position: fixed;
    top: 0;
    background-color: burlywood;
    height: 56px;
    z-index: 5050;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 4px -6px #777;
} 


.title {
    position: relative;
    padding: 17px;
    margin: auto;
    margin-left: 20px !important;
    font-weight: lighter;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 20px;
    line-height: 22px;
    max-width: 60px;
    margin-right: 0px !important;
}
