.update-div {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 35px 35px 35px;
    width: 860px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

/* Update quantity and cost buttons */
.update-div .qty-div button,
.update-div .cost-div button {
    font-family: Haettenschweiler, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    margin: 0px 25px;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: hsl(345deg 100% 47%);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -4px;
    left: 10px;
}

.update-div .cost-div button {
    position: relative;
    top: -1px;
    left: 44px;
}

.update-div .Fizz-update button {
    background-color: rgb(70, 70, 70);
}

.update-div .Pop-update button {
    background-color: rgb(230, 103, 19);
}

.update-div .MegaPop-update button {
    background-color: rgb(0, 123, 255);
}

.update-div .Cola-update button {
    background-color: rgb(0, 170, 37);
}

.update-div button:hover {
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

.update-div button:active {
    transform: scale(0.95);
}

.qty-div {
    padding: 10px;
    position: relative;
    height: 70px;
    margin-top: 12px;
}

.cost-div {
    padding: 10px;
    position: relative;
    height: 70px;
    margin-bottom: 4px;
}

/* Labels styling */
.qty-div label,
.cost-div label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 20px 15px 0px;
    color: hsl(345deg 100% 47%);
}

.cost-div label {
    position: relative;
    left: 62px;
}

.qty-div.Pop-update label,
.cost-div.Pop-update label {
    color: rgb(230, 103, 19);
}

.qty-div.MegaPop-update label,
.cost-div.MegaPop-update label {
    color: rgb(0, 123, 255);
}

.qty-div.Fizz-update label,
.cost-div.Fizz-update label {
    color: rgb(70, 70, 70);
}

.qty-div.Cola-update label,
.cost-div.Cola-update label {
    color: rgb(0, 170, 37);
}

/* Text Input Styling */
input[type=text] {
    border: 2px solid #ccc;
    padding: 16px;
    padding-bottom: 19px;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 40px;
    position: relative;
    left: 62px;
    width: 34%;
    height: 20px;
    color: hsl(345deg 100% 47%);
}

input[type=text]:focus {
    border-color: hsl(345deg 100% 47%);
    outline: none;
}

.cost-div.Cola-update input[type=text] {
    color: rgb(0, 170, 37);
}

.cost-div.Cola-update input[type=text]:focus {
    border-color: rgba(0, 170, 37, 0.817);
}

.cost-div.Pop-update input[type=text] {
    color: rgb(230, 103, 19);
}

.cost-div.Pop-update input[type=text]:focus {
    border-color: rgba(230, 103, 19, 0.731);
}


.cost-div.MegaPop-update input[type=text] {
    color: rgb(0, 123, 255);
}

.cost-div.MegaPop-update input[type=text]:focus {
    border-color: rgba(0, 123, 255, 0.803);
}


.cost-div.Fizz-update input[type=text] {
    color: rgb(70, 70, 70);
}

.cost-div.Fizz-update input[type=text]:focus {
    border-color: rgba(70, 70, 70, 0.745);
}

/* Range input styling */
input[type=range]:focus {
    outline: none;
}

input[type=range] {
    width: 30%;
    height: 30px;
    appearance:inherit;
    -webkit-appearance: none;
    position: relative;
    top: 8px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: hsl(345deg 100% 47%);
    border-radius: 50%;
    margin-top: -8px;
}

.qty-div.Pop-update input[type=range]::-webkit-slider-thumb {
    background: rgb(230, 103, 19);
}

.qty-div.MegaPop-update input[type=range]::-webkit-slider-thumb {
    background: rgb(0, 123, 255);
}

.qty-div.Cola-update input[type=range]::-webkit-slider-thumb {
    background: rgb(0, 170, 37);
}

.qty-div.Fizz-update input[type=range]::-webkit-slider-thumb {
    background: rgb(70, 70, 70);
}



input[type=range]::-moz-range-track {
    height: 5px;
    background: #ddd;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: hsl(345deg 100% 47%);
    border-radius: 50%;
}

.qty-div.Pop-update input[type=range]::-moz-range-thumb {
    background: rgb(230, 103, 19);
}

.qty-div.MegaPop-update input[type=range]::-moz-range-thumb {
    background: rgb(0, 123, 255);
}

.qty-div.Cola-update input[type=range]::-moz-range-thumb {
    background: rgb(0, 170, 37);
}

.qty-div.Fizz-update input[type=range]::-moz-range-thumb {
    background: rgb(70, 70, 70);
}

input[type=range]::-ms-track {
    height: 5px;
    background: #ddd;
}

input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: hsl(345deg 100% 47%);
    border-radius: 50%;
}

.qty-div.Pop-update input[type=range]::-ms-thumb {
    background: rgb(230, 103, 19);
}

.qty-div.MegaPop-update input[type=range]::-ms-thumb {
    background: rgb(0, 123, 255);
}

.qty-div.Cola-update input[type=range]::-ms-thumb {
    background: rgb(0, 170, 37);
}

.qty-div.Fizz-update input[type=range]::-ms-thumb {
    background: rgb(70, 70, 70);
}


.range-value {
    position: relative;
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: hsl(345deg 100% 47%);
}

.qty-div.Pop-update .range-value {
    color: rgb(230, 103, 19);
}

.qty-div.MegaPop-update .range-value {
    color: rgb(0, 123, 255);
}

.qty-div.Cola-update .range-value {
    color: rgb(0, 170, 37);
}

.qty-div.Fizz-update .range-value {
    color: rgb(70, 70, 70);
}

/* error messages */
.error-message-restock {
    position: absolute;
    width: 400px;
    top: 65px;
    left: 168px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}